/* Debut du CSS pour page Tetouan accueil */




/* L'arrier de la page */
body
{
	font-size:large;
	font-family:'BallparkWeiner',georgia;
	background: url('../images/ville.jpg') fixed no-repeat;
	
}
  



/*---------------------------------------*/

/* Header */
header
{
	border: 10px solid #000000;
	background: url('../images/tetouan.jpg') no-repeat;
	padding:10%;

}

header h1
{
    font-family: georgia, 'BallparkWeiner';
    font-size: 3em;
    margin: 0 0 0 10px;
}


nav ul
{
    list-style-type: none;
	display: flex;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #290E4B;
    padding-bottom: 3px;
    text-decoration: blink;
}

nav a:hover
{
    color: #93D162;
    border-top: 3px solid #93D162;
}




/*---------------------------------------*/

/* L'article */

article
{
	
	background:#DC9146C0;
	border-radius: 5px;
	margin-bottom:1%;
	font-size:large;
	width:50%;


	
}

article p
{
	background:#F4D4A0;
}



article h2
{
	text-align:center;
	text-decoration:underline;
}



article img
{
    margin-right: 5px;
	width: 70%;
    height: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto ;
}


/*---------------------------------------*/

/* Aside  actu coulisant */

aside
{
    background:#F4D4A0;
	margin-left: 55%;
	color:#000000;
	float:left;
    position: absolute; /*-----------*/
	width:40%;

}


aside img
{
    margin-right: 5px;
	width: 70%;
    height: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

aside h2
{
	text-align:center;
	text-decoration:underline;
}

aside p
{
	background:#DC9146;
}




/*---------------------------------------*/

/* Footer */
footer
{
	font-family: 'BallparkWeiner',georgia;
	background: url('../images/mosaique.jpg') repeat;
	border: 10px ;
	border-radius:150px;
	padding:1%;

}

footer div
{

	display: inline-block;
	border: 5px solid #ffffff;
	margin-left:10%;
}


/*Premier div*/
.avion
{
	font-size:small;
	background: #5DADE2E0;
	border: 10px ;
	border-radius:25px;
}
.avion img
{
	margin-left:30%;
}
.avion h1
{  text-decoration:underline;
   color:#FFFFFF;
}
.avion h2
{
  color:#FF0000; 
  animation: colorblink 1s infinite;
}
@keyframes colorblink { 
40% { color:#FAFF00; }
50% { color:#00FF35; } 
}


/*Deuxieme div*/
.sociaux
{
	
	background: #5DADE2E0;
	border: 10px ;
	border-radius:25px;
}
.sociaux h2
{
	text-decoration:underline;
	color:#FFFFFF;


}
.sociaux img
{
	margin-left:10%;
	border: 10px ;
	border-radius:25px;
}


/*Troisieme div */
.bouton
{
    margin-left:20%;
	text-align:center;
    text-decoration:underline;
    border:2px double #000000;
    border-radius:10%;
    background:#FFFFFF;
}

